{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Formulaire pour télécharger le CV !</h2>

                {{ form_start(form, {'attr': {'class': 'form'}}) }}

                <div class="form-group">
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.prenom) }}
                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Envoyer">
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}